*.pc
.libs
Makefile
*.la
.deps
.dirstamp
*.lo
config.log
config.status
libtool
stamp-*
*.[oa]
*.l[oa]
*~
*.BAK
config.h
autom4te.cache
IGNORE
CursesToolKit/docs/html
CursesToolKit/docs/searchdata.xml
tmpexamples
examples/html
examples/searchdata.xml
*.HOLD