forecolour 1 30
backcol 1 47
hiliteforecol 1 30 
hilitebackcol 1 46
markbackcol 1 41
markforecol 1 37
cursbackcol 1 42
cursforecol 1 30
menubackcol 1 42
menuforecol 1 30
menuhilitebackcol 1 40
menuhiliteforecol 1 32
linenumbackcol 1 40
linenumforecol 1 33
windowbackcol 1 47
windowforecol 1 30
buttonbackcol 1 44
buttonforecol 1 37
buttondisabledforecol 1 94
disabledforecol 1 97
boxtype 1 0
textboxtype 1 1
inputboxtype 1 2
labelboxtype 1 0
listboxtype 1 2
